
.body{ 
    background: url('parking\ cars.webp') no-repeat center center fixed; 
} 
.container { 
    
    width: 300px; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
} 
 
.form-group { 
    margin-bottom: 15px; 
} 
 
.form-group label { 
    display: block; 
    margin-bottom: 5px; 
} 
 
.form-group input, .form-group textarea { 
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
} 
 
button { 
    padding: 10px; 
    margin-top: 10px; 
    width: 100%; 
} 
 
.slot { 
    margin: 10px 0; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    text-align: center; 
} 
33  
  
 
.occupied { 
    background-color: #f44336; 
    color: white; 
} 
 
.not-occupied { 
    background-color: #4
 color: white; 
} 
